<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897134427610-emcth0kn0so5nnr5h9tlpn0m11574kco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897134427610-emcth0kn0so5nnr5h9tlpn0m11574kco</string>
	<key>API_KEY</key>
	<string>AIzaSyDQH6TPF52q37mY_cdPA9PsVXHANcEUE-8</string>
	<key>GCM_SENDER_ID</key>
	<string>897134427610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoproject</string>
	<key>PROJECT_ID</key>
	<string>todoproject-8bfb6</string>
	<key>STORAGE_BUCKET</key>
	<string>todoproject-8bfb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897134427610:ios:d60220730cc790b4cf54e3</string>
</dict>
</plist>